p {
	color: green;
	width: 1000px;
}

h2 {
	clear: left;
	text-align: center;
}

h1 a {
	text-decoration: none; 
	color: #131222;
}
 
 
 
 body {
	background-color: 	#2D2C3C;
 }
 	

#navBar ul li a {
	text-decoration: none;
	background-color: #051328;
	color: #7A1616;
	float: left;
	display: block;
    width: 85px;
}

#navBar ul li a:hover {
	background-color: #59559F;
}

#navBar ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	
}
